<h1 class="title"><%= @article.title %></h1>

<div class="leadin"><%= @article.leadin_as_html %></div>

<% unless(@article.static_page?) %>
<p class="byline">
  <% if(@article.byline) %>
    <i><%= link_to @article.byline, profile_url(@article.profile.nick) if @article.byline %></i> |
  <% end %>
  <%= @article.words %> ord | 
  <%= @article.created_at.to_date %>
</p>
<% end %>


<div class="body">
  <%= @article.body_as_html %>
</div>
<hr />
<div class="footer">
  <b><%= link_to @article.byline, profile_url(@article.profile.nick) if @article.byline %></b> |
  <%= @article.byline_bio %>
</div>

<% unless(@article.static_page?) %>
<p class="source">Kilde: <%=
     host, port = request.env['HTTP_HOST'], request.env['SERVER_PORT']
     host.gsub!("www.", "")
     path = read_url(@article.path)
     @source = path
     link_to path, path
  %>
</p>
<% end %>
