<div class="article">

<% @articles.each do |article| %>
  <div class="entry">
    <% path = article_path(article) %>
    <h3><%= article.title %></h3>  
    <p class="byline">
    </p>
    <p class="byline">
      <i><%= article.byline %></i>
      | <%= article.created_at.to_date %>
      | <%= path %>
    </p>
    <% 
       leadin = article.leadin
       leadin = (leadin[0..140] + "...") unless(leadin.length <= 143)
    %>
    <p><%= leadin %></p>
    <p><%= link_to "Rediger", article %></p>
  </div>
<% end %>
<p><%= 
      WillPaginate::ViewHelpers.pagination_options[:prev_label] = "&laquo; Yngre".html_safe
      WillPaginate::ViewHelpers.pagination_options[:next_label] = "Eldre &raquo;".html_safe
      will_paginate @articles 
      %></p>


<p><%= link_to 'Nytt innlegg', new_article_path %></p>

</div>
