<p id="notice"><%= notice %></p>

<p>
  <b>Token:</b>
  <%= @article.token %>
</p>

<p>
  <b>Title:</b>
  <%= @article.title %>
</p>

<p>
  <b>Email:</b>
  <%= @article.email %>
</p>

<p>
  <b>Leadin:</b>
  <%= @article.leadin %>
</p>

<p>
  <b>Body:</b>
  <%= @article.body %>
</p>

<p>
  <b>Path:</b>
  <%= @article.path %>
</p>


<%= link_to 'Edit', edit_article_path(@article) %> |
<%= link_to 'Back', articles_path %>
